<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble Score</title>
    </head>
    <body>
        <form action="/score">
            <label> What word do you want to know the score of?</label>
            <input type="text" name="word" required>
        </form>
    </body>
</html>
