<html>
    <head>
        <title></title>
    </head>
    <body>
            <p>The score of your word is {{ score }} points.</p>
            <a href="/"><button name="button" >Score another word</button></a>
    </body>
</html>
